<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
	default-autowire="byName">
	
	<!-- 配置DAO -->

	
	<bean id="userDao" class="com.bocbus.project.dao.UserDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="locationDao" class="com.bocbus.project.dao.LocationDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="uploadLocationDao" class="com.bocbus.project.dao.UploadLocationDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="busBusDao" class="com.bocbus.project.dao.BusBusDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="modeDao" class="com.bocbus.project.dao.ModeDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="busLineDao" class="com.bocbus.project.dao.BusLineDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<!-- 配置Service -->
	
	<bean id="locationService" class="com.bocbus.project.service.LocationServiceImpl"> 
		<property name="locationDao" ref ="locationDao" />
		<property name="userDao" ref ="userDao" />
	</bean>
		
	<bean id="userService" class="com.bocbus.project.service.UserServiceImpl"> 
		<property name="userDao" ref ="userDao" />		
	</bean> 
	
	<bean id="uploadLocationService" class="com.bocbus.project.service.UploadLocationServiceImpl"> 
		<property name="uploadLocationDao" ref ="uploadLocationDao" />
		<property name="busBusDao" ref ="busBusDao" />
		<property name="busLineDao" ref ="busLineDao" />
	</bean>
	
	<bean id="modeService" class="com.bocbus.project.service.ModeServiceImpl"> 
		<property name="modeDao" ref ="modeDao" />
	</bean>
	
	<bean id="busLineService" class="com.bocbus.project.service.BusLineServiceImpl"> 
		<property name="busLineDao" ref ="busLineDao" />
	</bean>
	
	
	<!-- 定义Struts配置 -->
	<bean name="LocationAction" class="com.bocbus.project.action.LocationAction">
		<property name="locationService">
			<ref local="locationService"/>
		</property>
	</bean>
	
	<bean name="LoginAction" class="com.bocbus.project.action.LoginAction">
		<property name="userService">
			<ref local="userService" />
		</property>
	</bean>
	
	<bean name="UploadLocationAction" class="com.bocbus.project.action.UploadLocationAction">
		<property name="uploadLocationService">
			<ref local="uploadLocationService" />
		</property>
	</bean>
	
	<bean name="ModeAction" class="com.bocbus.project.action.ModeAction">
		<property name="modeService">
			<ref local="modeService" />
		</property>
	</bean>
	
	<bean name="BusLineAction" class="com.bocbus.project.action.BusLineAction">
		<property name="busLineService">
			<ref local="busLineService" />
		</property>
	</bean>
	
</beans>
